<%= form_with(model: item) do |form| %> 
  <%= turbo_frame_tag "item_form" do %>
  <div class="field">
    <%= form.text_field :description, class: "block border border-grey-light
    w-full p-3 rounded mb-4" %>
  </div>
  <% end %> 
<% end %>
