<%= turbo_stream_from "items" %>
<div class="p-10">
  <h1 class="mb-4 text-4xl font-black">Hotwire TodoList</h1>
  <%= link_to "New item", new_item_path %> <%= turbo_frame_tag "items" do %>
  <div id="items"><%= render @items %></div>
  <% end %>
</div>
